@use "../../styles/partials/colors";
@use "../../styles/partials/mixins";

.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  @include mixins.tablet {}
  &__label {
    align-self: flex-start; 
    margin-bottom: 0.5rem; 
  }
  
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: .625rem;
  }

  &__input {
    width: 100%;
    padding: 0.3125rem;
    border-radius: 0.25rem;
  }
}

.signup {
  display: flex;
  flex-direction: column;
  width: 22rem;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 0.3125rem solid colors.$primary-green;
    padding-bottom: 0.5rem;
    align-self: center;
  }

  &__button {
    @include mixins.button;
  }

  &__message {
    padding: 0.75rem;
    margin-top: 2rem;
  }
}

